.profile_pic{
    border-radius: 100%;
    height: 40px;
}
/* 
.top_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-self: center;
}*/

.top_nav_container{
    height: 10vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
} 

.top_nav_button{
    background-color: #271FE0;
    color: white;
    border: none;
    border: 2px solid #271FE0;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin: 10px;
}


.top_nav_button:hover{
    background-color: white;
    color: #271FE0 ;
    border: 2px solid #271FE0;
}

.new_user{
    display: flex;
    flex-direction: row;
}

.logged_in_user{
    display: flex;
    justify-content: center;
    align-items: center;
}