.home_container{
    /* padding: 20px; */
}
.home_banner{
    background-color: #271FE0;
    color: white;
    border-radius: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.course_section_title{
    display: flex;
    justify-content: space-between;
}

.my_course{
    margin-top: 30px;
}
.course_section_content{
    /* display: flex;
    flex-direction: row; */
    display:grid;
    grid-gap:50px;
    grid-template-columns: repeat(3,minmax(0,1fr));
    
}

.course_section_content a{
    text-decoration: none;
}
.loading_container{
    text-align: center;
}

@media (max-width: 480px){
    .home_banner{
        padding: 20px;
        text-align: center;
        height: 200px
    }
    .course_section_content{
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
}

@media  (min-width: 481px) and (max-width: 768px){
    .course_section_content{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}